<div class="navbar navbar-scroll-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('homepage') }}">GitList</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    {% if app.user %}
                    <li><a href="{{ path('logout') }}">Log Out</a></li>
                    {% endif %}
                    <li><a href="{{ path('homepage') }}refresh">Refresh</a></li>
                </ul>
                {% if app.user %}
                <span class="pull-right" style="line-height: 40px; font-size: 0.75em">Logged in as {{ app.user.username() }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
