{% extends 'layout_page.twig' %}

{% set page = 'push' %}

{% block title %}GitList{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Push to remote', path:''}]} %}

    {% if message is defined and message %}
        <div class="alert alert-success">{{ message | nl2br }}</div>
    {% endif %}

    {% if commits %}
        {% include 'commits_list.twig' %}
    
        <div class="row" style="text-align: center;">
            <form method="post">
                <button onclick="return confirm('Are you sure you want to push to {{ remote ~ '/' ~ remoteBranch }}?');" type="submit" name="do" value="Push" class="btn btn-success btn-large">Push to {{ remote }}/{{ remoteBranch }}</button>
            </form>
        </div>
    {% elseif message is not defined or not message %}
        <div class="alert alert-danger">No commits ready to push.</div>
    {% endif %}

    <hr />
{% endblock %}
